@import "tailwindcss";

:root {
  --header-height: 3rem;
  --body-color: #ffffff;
  --title-color: #333333;
  --title-color-dark: #000000;
}

/* Add these animations */
@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  30% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px); /* Reduced from 10px to 8px for subtle motion */
  }
  100% {
    transform: translateY(0);
  }
}